/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap');
 
 
 
 .ReraDtl img {
    display: block;
    width: 105px !important;
}

.Devider {
    width: 1px;
    height: 80px;
    background: #888;
}


.ReraDtl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 75%;
    margin: auto;
}
 
 
 
 
 
 
.accordion {
	background-color: #F5F5F5;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	font-family: 'Lato', sans-serif;
}
.active, .accordion:hover {
	background-color: #ccc;
}
.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin-bottom:0px;
}
.panel p {
	font-family: 'Lato', sans-serif;
	text-align:left;
	padding:10px 5px;
	font-size:15px;
	margin:0px;
}
.faq_section {
	padding: 110px 0px 40px 0;
	text-align:center;
	background-color: #fff;
}
.faq_heading h2 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:30px;
	margin:0px 0 40px 0;
	position:relative;
	display:inline-block;
	padding: 0 0 10px 0;
}
 .faq_heading h2::before {
 content:"";
 width:90px;
 height:4px;
 position:absolute;
 bottom:0;
 right:0;
 background: #886433;
 margin: auto;
 left: 0;
}
 .faq_heading h2::after {
 content:"";
 width:10px;
 height:10px;
 position:absolute;
 bottom:-3px;
 right:0;
 background:#fff;
 margin: auto;
 left: 0;
 border-radius:50%;
}




.BankDetails h6{
	font-size:14px;
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	line-height:26px;
	padding:15px 0 15px 0;
	margin:0 0 0 0;
}















/*offer section start*/



@keyframes lefttoright {
 0% {
 transform: translate(1em, 0);
}
 100% {
 transform: transform: translate(1em, 0);
}
}
 @keyframes bigtext {
 0% {
 transform: scale(0.9);
}
 50% {
 transform: scale(1);
}
 100% {
 transform: scale(0.9);
}
}









/*offer section End*/





@keyframes ripple {
 0% {
 box-shadow: 0 0 0 .3rem rgba(0, 0, 0, 0.3);
}
 100% {
 box-shadow: 0 0 0 4rem rgba(0, 0, 0, 0);
}
}
body {
	background:#F5F5F5;
}
* {
	margin:0px;
	padding:0px;
}
.mb-30 {
	margin-bottom:30px;
}
.mt-40 {
	margin-top:40px;
}
.mt-60 {
	margin-top:60px;
}
.modal-title {
	font-family: 'Lato', sans-serif;
	font-size:22px;
	font-weight:700;
	text-align:center;
	color:#000;
	margin:20px 0 20px 0;
	position:relative;
	padding:0;
}
.modal-header {
	border-bottom:0px;
	padding:0px;
}
.modal-header img {
    position: absolute;
    top: 22px;
    left: 30px;
    width: 125px;
}
.modal-body {
	position: relative;
	padding: 0px 15px;
}
.modal-body .form-control {
	border-radius:5px;
	padding:12px 12px;
	height:auto;
	border: solid 1px #dedede;
	margin-bottom:15px;
}
 .modal-body:placeholder {
 font-family: 'Lato', sans-serif;
 font-size:15px;
}
.modal-body .form-control:focus {
	box-shadow:none;
	border: solid 1px #dedede;
}
.modal-body input[type=submit] {
	padding:12px 12px;
	background: #896829;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	border: none;
	width:100%;
}
#exampleModal .close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
	position: absolute;
	right: 5px;
}



#brochureModal .close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
	position: absolute;
	right: 5px;
}








.privacy-policy {
    padding: 5% 0;
}

.privacy-policy h4 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 0px 0 0px 0;
    padding: 0px;
    text-align: left;
}

.privacy-policy h3 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0px 0 0px 0;
    padding: 0px;
    text-align: left;
}

.privacy-policy p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    margin: 0px;
    line-height: 36px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: 400;
}


.modal .term-condition{
margin-top:10px;
margin-bottom:15px;
	color:#000;
	font-size:12px;
	display: inline-block;
}

.term-condition a{
	color:#fff;
}


.term-condition{
margin-top:10px;
	color:#000;
	font-size:12px;
	display: inline-block;
}

input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}





.slider_form .term-condition {
	color:#fff;
}

.slider img{

	width:100%;
}




#myHeader {
	background:#d056a3;
}
.sticky {
	position: sticky;
	top: 0;
	width: 100%;
	z-index:9;
}
.navbar-brand img {
	width:175px;
}
.main-menu {
	padding:5px 0;
	background:#fff;
}
.main-menu .navbar-default {
	background:none !important;
	border:none !important;
}
.navbar-brand {
	height:auto;
	padding:0px !important;
	margin-top:0px;
}
.main-menu .navbar {
	margin-bottom:0px;
}
.main-menu .navbar-nav li a {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font-weight:700;
	transition:1s;
	color:#000;
}
.main-menu .navbar-nav {
	margin-top:0px;
}
.main-menu .navbar-nav li a:hover {
	color:#896829 !important;
}
.main-menu .navbar .btn {
	background:#896829;
	margin-top:0px;
	border:#896829 solid 1px;
}
.main-menu .navbar .btn:hover {
	border:#000 solid 1px;
	background:#896829;
	color:#000 !important;
}
.main-menu .navbar .btn a {
	color:#fff !important;
	padding:5px 8px !important;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	font-weight:700;
}

.main-menu .navbar .btn a:hover{
	color:#fff !important;
}



/*Broucher animated button start*/



.mobile-view {
	display:none;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes slideInDown {
 0% {
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
 visibility: visible
}
 80% {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
 100% {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
}
 @keyframes slideInDown {
 0% {
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
 visibility: visible
}
 80% {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
 100% {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0)
}
}
/*Broucher animated button end*/









.slider .item.active:after {
	display:none;
}
.slider_content {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 20px 20px 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
}
.slider_content h4 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin: 0px 0 0px 0;
    padding: 0 0 12px 0;
}
.slider_content a {
	padding:0px 0px;
	font-size:18px;
	color:#000;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	border-radius:30px;
	margin:0;
}

.slider_content h1 {
	font-size:28px;
	font-weight:900;
	text-align:center;
	margin:0px 0 0px 0;
	padding: 0 0 5px 0;
	font-family: 'Lato', sans-serif;
	color:#896829;
}
.slider_content h1 span {
	color:#896829;
}
.slider_content ul {
	margin:0px 0 0 0;
	padding:0px;
	text-align:left;
}
.slider_content ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    width: 49%;
    padding: 8px 8px;
    background: #07476a;
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.slider_content ul li span {
	display:block;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	color:#eaa32d;
	font-size:20px;
}
#offerModal .close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
	position: absolute;
	right: 5px;
}
#offerModal h5 {
	color:#d69e00;
}
.slider_content p {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	color:#fff;
	margin:0px;
	line-height:25px;
 W
}
.slider_content h5 {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#fff;
	margin:10px 0 10px 0;
	padding: 12px 5px;
	background: #886433;
}
.slider_content h6 {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin: 0px 0 15px 0;
    padding: 0px 0px;
    line-height: 25px;
}
.slider_form {
    background: #07476a;
    padding: 0 0 15px 0;
    width: 80%;
    border-radius: 15px;
    margin: auto;
    margin-top: 30px;
}
.slider_form h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 14px 0 13px 0;
    padding: 0 0 0px 0;
}
.slider_form .form-control {
	border-radius:0px;
	padding:12px 12px;
	height:auto;
	margin-bottom:15px;
	background:none;
	border:#fff solid 1px;
	box-shadow: none;
	color:#fff
}
 .slider_form .form-control::placeholder {
 font-family: 'Lato', sans-serif;
 font-size:15px;
 color:#fff;
}
.slider_form .form-control:focus {
	box-shadow:none;
	border-bottom:#fff solid 1px;
}
.slider_form input[type=submit] {
	padding:12px 12px;
	background: #ba8827;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	border: none;
	width:100%;
	font-weight:700;
	font-family: 'Lato', sans-serif;
	border-radius:0px;
}
.slider_form .btn:focus {
	outline:none;
}
/*.slider_heading{margin-bottom:50px;}

.slider_heading h1{font-family: 'Lato', sans-serif; font-size:45px; color:#FFFFFF; text-align:center; font-weight:700;}

.slider_heading p{font-family: 'Lato', sans-serif; font-size:22px; color:#FFFFFF; text-align:center;}*/





.short_detail {
	position: relative;
	padding: 0px;
	text-align: center;
	margin-top: 25px;
}
.short_detail_box {
	border: solid 1px #585858;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background:#fff;
	padding: 25px;
 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
	min-height: 120px;
}
 .short_detail_box::before {
 content: "";
 border: #932E00 dotted 1px;
 position: absolute;
 top: 10px;
 right: 10px;
 bottom: 10px;
 left: 10px;
}
.short_detail_box h3 {
	font-family: 'Lato', sans-serif;
	font-size:22px;
	font-weight:700;
	color:#000;
	margin:0;
	padding:0px;
	text-decoration: underline;
}
.short_detail_box p {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font-weight:500;
	color:#000;
	margin:0;
	padding:5px 0 0 0;
	z-index:1;
}
.short_detail_box p a {
	background:#886433;
	color:#fff;
	padding:5px;
	margin-top:5px;
	display: inline-block;
	border-radius:3px;
}
.short_detail_box p a:hover {
	text-decoration:none;
}
.about {
	padding: 50px 15px 50px 15px;
	text-align:center;
	background:#fff;
	margin-top:15px;
	margin-bottom:15px;
}
.about .row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.about_content p {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	color:#353434;
	margin:0px;
	line-height:32px;
	padding-bottom:10px;
	text-align:justify;
}
.about_content h2 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:30px;
	margin:0px 0 40px 0;
	position:relative;
	display:inline-block;
	padding:0 0 10px 0;
}
.about_content h3 {
	color:#886433;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:35px;
	margin:45px 0 15px 0;
	padding:0px;
	text-align:left;
}
.about_content h4 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:28px;
	margin:0px 0 10px 0;
	padding:0px;
	text-align:left;
}
.about_content h4 span {
    color: #896829;
    font-weight: 900;
}
.abt_img img {
	border-radius:25px;
}
.our_aminities_section {
	padding: 50px 15px 50px 15px;
	text-align:center;
	background:#fff;
	margin-bottom:15px;
}
.aminities_content ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	margin-top: 30px;
}
.aminities_content ul li {
	display: grid; /*grid-template-columns: 50px auto; grid-column-gap: 20px;*/
	font-size:16px;
	font-family: 'Lato', sans-serif;
	padding: 15px 0;
	background: #896829;
	color:#fff;
	font-weight:700;
}
.aminities_content h4 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:28px;
	margin:0px 0 10px 0;
	padding:0px;
	text-align:left;
}
.aminities_content h4 span {
	    color: #896829;
    font-weight: 900;
}
.aminities_img_bg img {
	border-radius:25px;
}
.our_project_gallery_section {
	padding: 50px 15px 50px 15px;
	text-align:center;
	background-color: #fff;
	margin-bottom:15px;
}
.our_project_gallery_section h4 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:28px;
	margin:0px 0 10px 0;
	padding:0px;
	text-align:center;
}
.our_project_gallery_section h4 span {
	    color: #896829;
    font-weight: 900;
}
.our_project_gallery_section ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	margin-top: 30px;
}
.our_project_gallery_section ul li {
	display: grid; /*grid-template-columns: 50px auto; grid-column-gap: 20px;*/
	border:#ddd solid 1px;
	padding:3px;
	border-radius:5px;
}
.our_project_gallery_section ul li img {
	border-radius:5px;
}
.our_ongoing_project_section {
	padding: 110px 0px 40px 0;
	text-align:center;
	background-color: #fff;
}
.our_ongoing_project_heading h2 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:30px;
	margin:0px 0 40px 0;
	position:relative;
	display:inline-block;
	padding: 0 0 10px 0;
}
 .our_ongoing_project_heading h2::before {
 content:"";
 width:90px;
 height:4px;
 position:absolute;
 bottom:0;
 right:0;
 background: #886433;
 margin: auto;
 left: 0;
}
 .our_ongoing_project_heading h2::after {
 content:"";
 width:10px;
 height:10px;
 position:absolute;
 bottom:-3px;
 right:0;
 background:#fff;
 margin: auto;
 left: 0;
 border-radius:50%;
}
.our_ongoing_project_section .item {
	border:#dbdbdb solid 1px;
	padding:5px;
	min-height: 275px;
	margin-bottom: 30px;
}
.our_ongoing_project_section .item h3 {
	color: #886433;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	padding: 15px 0 5px 0;
}
.our_ongoing_project_section .item p {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 15px;
	margin: 0;
	padding: 0px;
}
#higlits {
	padding: 110px 0px 40px 0;
	text-align:center;
	background-color: #F5F5F5;
}
.higlights_heading h2 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:30px;
	margin:0px 0 40px 0;
	position:relative;
	display:inline-block;
	padding: 0 0 10px 0;
}
 .higlights_heading h2::before {
 content:"";
 width:90px;
 height:4px;
 position:absolute;
 bottom:0;
 right:0;
 background: #886433;
 margin: auto;
 left: 0;
}
 .higlights_heading h2::after {
 content:"";
 width:10px;
 height:10px;
 position:absolute;
 bottom:-3px;
 right:0; /*background: linear-gradient(90deg, #FF7900, #932E00);*/
 background:#fff;
 margin: auto;
 left: 0;
 border-radius:50%;
}
#higlits ul li {
	text-align:left;
	list-style:none;
	margin-bottom:0px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: #757272;
	padding-bottom:25px;
	position:relative;
}
#higlits ul {
	margin-top:15px;
	margin-left:25px;
}
 #higlits ul li::before {
 content: "\f101";
 position:absolute;
 top:0;
 left:-20px;
 font-family: FontAwesome;
 color:#932E00;
 font-size:20px;
}
.higlits_box {
	padding:5px;
	text-align:center;
	background:#fff;
	box-shadow: #939393 0px 0px 7px;
	border-radius:0 15px 0 15px;
	position:relative;
}
/*.higlits_box{ padding:30px; text-align:center; background:#fff;     box-shadow: #939393 0px 0px 7px; border-radius:0 15px 0 15px; position:relative;}

.higlits_box::before{border:#932E00 solid 1px; content:""; position:absolute; top:15px; left:15px; right:15px; bottom:15px;}*/

.higlits_box img {
	margin:auto;
}
.higlits_box h4 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:17px;
	margin: 10px 0 0 0;
	font-weight:700;
	padding:0;
}
.higlits_box p {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	margin: 5px 0 0 0;
	font-weight:500;
	padding:0;
}
.price-box {
	background: #07476a;
	padding:30px 40px 30px 40px;
	text-align:left;
}
.price-box h1 {
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:40px;
	margin: 0px 0 0 0;
	font-weight:700;
	padding:0;
	text-align:left;
}
.price-box h3 {
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:28px;
	margin: 20px 0 20px 0;
	font-weight:700;
	padding:0px 0 0px 0;
	text-align:left;
	line-height: 36px;
}
.price-box h3 span {
	display:block;
	font-size:20px;
	font-weight:500;
	color:#896829;
}
.price-box h4 {
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:28px;
	margin: 0px 0 0 0;
	font-weight:700;
	padding:0px 0 0px 0;
	text-align:left;
	line-height: 36px;
}
.price-box h4 span {
	display:block;
	font-size:20px;
	font-weight:500;
	color:#896829;
}
.price-box a {
	background:#896829;
	padding:12px 50px;
	display:inline-block;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font-weight:700;
	margin:10px 0 0 0;
}
.flour_plans_section {
	padding: 50px 15px 50px 15px;
	text-align:center;
	background:#fff;
	margin-bottom:15px;
}
.flour_plans_section h5 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:28px;
	margin:0px 0 10px 0;
	padding:0px;
	text-align:center;
}
.flour_plans_section h5 span {
	    color: #896829;
    font-weight: 900;
}
.floor-plan-carousel {
	border:#ddd solid 1px;
}
.floor-plan-carousel .item.active:after {
	display:none;
}
.flour_plans_section table {
	width:100%;
	margin-top:50px;
}
.flour_plans_section table tr th {
	background-color: #896829;
	color: #fff;
	padding: 10px 25px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
	border:#896829 solid 1px;
}
.flour_plans_section table tr td {
	padding:25px 25px;
	font-size: 16px;
}
.flour_plans_section table tr td a {
	padding:10px 25px;
	font-size:15px;
	background:#896829;
	color:#000;
	font-family: 'Lato', sans-serif;
	display:inline;
}

.flour_plans_section table tr .btn-info {
    color: #fff;
    background-color: #896829;
    border-color: #896829;
    font-size: 16px !important;
}


.flour_plans_section table tr td a:hover {
	text-decoration:none;
}
.location_advantage_section {
	padding: 50px 15px 50px 15px;
	background-color: #fff;
	margin-bottom:15px;
}
.location_advantage_section h4 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:28px;
	margin:0px 0 10px 0;
	padding:0px;
	text-align:left;
}
.location_advantage_section h4 span {
	    color: #896829;
    font-weight: 900;
}
.location_advantage_section ul {
	margin-left:20px;
}
.location_advantage_section ul li {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	margin:0px 0 25px 0;
	text-align:left;
}
.location_advantage_section ul li span {
	display:block;
	font-size:15px;
	color:#9b9696;
	font-weight:700;
}
.location_map {
	border:#ddd solid 5px;
}
.location_map iframe {
	margin-bottom:-5px;
}
.developer_section {
	padding: 50px 15px 50px 15px;
	text-align:center;
	background-color: #fff;
}
.developer_section h4 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:28px;
	margin:0px 0 10px 0;
	padding:0px;
	text-align:center;
}
.developer_section h4 span {
	    color: #896829;
    font-weight: 900;
}
.developer_section p {
	font-family: 'Lato', sans-serif;
	font-size:15px;
	color:#353434;
	margin:0px;
	line-height:28px;
	padding-bottom:10px;
	text-align:center;
}
.footer {
	background: #896829;
	padding:10px 0;
}
.footer p {
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	margin: 0 0 6px 0px;
	text-align:center;
	line-height:18px;
}
.footer a {
	color:#fff;
}
.footer a:hover {
	text-decoration:none;
}
.slider_model_box h5 {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:30px;
	margin:0;
	text-align:center;
	font-weight:600;
}
.slider_model_box .modal-header p {
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	margin:0;
	text-align:center;
}
.slider_model_box .modal-body {
	display: inline-block;
	width: 100%;
	padding: 0 15px 15px 15px;
}
.slider_model_box form .form-control {
	border-radius:0px;
	padding:12px 12px;
	height:auto;
	border: 1px solid #b1acac;
	margin-bottom:15px;
}
 .slider_model_box form input::placeholder {
 font-family: 'Lato', sans-serif;
 font-size:16px;
}
.slider_model_box form .form-control:focus {
	box-shadow:none;
	border: 1px solid #b1acac;
}
.slider_model_box form input[type=submit] {
	padding:12px 12px;
	background:#CC3300;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	border: 1px solid #CC3300;
}
.slider_model_box .modal-header {
	border-bottom:none;
	padding: 15px 15px 0px 15px;
}
.slider_model_box .modal-header .close {
	margin-top: -2px;
	position: absolute;
	top: -10px;
	right: -10px;
	background: #fff;
	width: 25px;
	height: 25px;
	opacity: 1;
	border-radius: 50%;
}
.sticky_footer {
	background:#ee9b0e;
	padding: 15px 15px 15px 15px;
	position: sticky;
	bottom: 0;
	z-index: 9;
	border-top:#FFFFFF solid 1px;
}
.enquery_form_bg h2 {
	text-align:center;
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:28px;
	margin:0px;
}
.enquery_form_bg .form-control {
	border-radius:0px;
	padding:12px 12px;
	height:auto;
	border: none;
}
 .enquery_form_bg:placeholder {
 font-family: 'Lato', sans-serif;
 font-size:15px;
}
.enquery_form_bg .form-control:focus {
	box-shadow:none;
	border: none;
}
.enquery_form_bg input[type=submit] {
	padding:12px 12px;
	background:#000;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	border: none;
}
.sticky_whatsapp {
	bottom:10%;
	right:10px;
	z-index:999;
	position:fixed;
}
.sticky_whatsapp span {
	display:none;
}
.sticky-contact {
	bottom:2%;
	right:10px;
	z-index:999;
	position:fixed;
}
.sticky-contact span {
	display:none;
}
.sticky_contact {
	top:50%;
	right:-48px;
	z-index:999;
	position:fixed;
	background: #896829;
	padding:10px 10px;
	transform: rotate(-90deg);
}
.sticky_contact a {
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	text-transform:uppercase;
	font-weight:700;
}
.sticky_contact a:hover {
	text-decoration:none;
}
.thank_you {
	text-align:center;
	padding:110px 0px;
	background:#f7f7f7;
}
.thank_you i {
	text-align:center;
	font-size:65px;
	color:#886433;
}
.thank_you h4 {
	text-align:center;
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:28px;
	margin:10px 0 10px 0;
}
.thank_you p {
	text-align:center;
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	margin:0px;
	line-height: 31px;
}



    























/* lg */ 

@media (min-width: 1200px) {
}



/* md */

@media (min-width: 992px) and (max-width: 1199px) {
}



/* sm */

@media (min-width: 768px) and (max-width: 991px) {
}



/* xs */

@media (max-width: 767px) {
.ReraDtl img {
    width: 80px !important;
}


.slider_form {
    background: #07476a;
    padding: 0 0 15px 0;
    width: 95%;
    border-radius: 0;
    margin: auto;
    margin-top: 0px;
}


.slider_content ul {
    display: flex;
}

.our_project_gallery_section h4, .flour_plans_section h5, .location_advantage_section h4, .developer_section h4 {
    font-size: 21px;
}

.slider_content h6 {
    font-size: 15px;
	line-height:22px;
	    margin: 0px 0 8px 0;
}

 .price-box {
 margin-bottom: 15px;
 padding: 30px 30px 30px 40px;
}
 .price-box h1 {
 font-size: 30px;
}
 .price-box h3 {
 font-size: 23px;
 margin: 15px 0 15px 0;
 line-height: 30px;
}
 .price-box h3 span {
 font-size: 16px;
}
 .price-box h4 {
 font-size: 23px;
 margin: 15px 0 15px 0;
 line-height: 30px;
}
 .price-box h4 span {
 font-size: 16px;
}
 .about .row {
 display: inherit;
 justify-content: center;
 align-items: center;
}
 .about_content p {
 font-size: 16px;
}
.slider_content {
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 10px 0px 10px;
    text-align: center;
    position: inherit;
    top: 0%;
    left: 0%;
    width: 100%;
    border: none;
    border-radius: 0px;
}
 .slider_content h1 {
 font-size: 24px;
 font-weight: 700;
 text-align: center;
 margin: 0px 0 0px 0;
 padding: 0 0 5px 0;
 font-family: 'Lato', sans-serif;
 line-height: 32px;
}
 .slider_content a {
 margin-top: 0px;
}
 .slider_content h4 {
 font-size: 15px;
}
.slider_content ul li {
    width: 50%;
    margin-bottom: 1px;
	font-size:18px;
}


.slider_content ul li span {
    font-weight: 900;
    font-size: 14px;
}

.about_content h4 {
    font-size: 21px;
}
 .aminities_content h4 {
 font-size: 21px;
 margin: 25px 0 0px 0;
}
 .our_project_gallery_section ul {
 grid-template-columns: repeat(1, 1fr);
}
 .our_ongoing_project_section .item {
 margin-bottom: 10px;
}
.developer_section {
    padding: 50px 15px 50px 15px;
}
 .mobile-view {
 background: #896829;
 color:#fff;
 padding:7px 25px;
 text-align:left;
 display:inline-block;
 position:absolute;
 top:8px;
 right:67px;
 font-size:14px;
 z-index:1;
}
 .mobile-view:hover {
 text-decoration:none;
}
 .mobile-view:focus {
 color:#fff;
 text-decoration:none;
}
 .mobile-view i {
 margin-right:5px;
}
 .navbar-default .navbar-toggle {
 border-color: #896829;
 background: #896829;
 color:#fff;
 margin-right: 5px;
 border-radius: 0px;
}
 .navbar-default .navbar-toggle .icon-bar {
 background-color: #fff;
}
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
 background-color: #896829;
}
.footer {
    padding: 15px 0 45px 0;
}
 .aminities_content ul {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 grid-gap: 10px;
 margin-top: 30px;
}
.slider_content {
    margin-bottom: 0;
}
 .short_detail_box {
 margin-bottom: 5px;
}
 .higlits_box {
 margin-bottom: 7px;
}
 .our_project_gallery_section .item {
 margin-bottom: 8px;
}
 .flex_center {
 display: inherit;
 justify-content: center;
}
 .flour_plans_section .item {
 margin-bottom: 8px;
}
 .mob_header button {
 text-align:center;
 color:#fff;
 font-family: 'Lato', sans-serif;
 font-weight:600;
 font-size:18px;
 margin:0px 0 0px 0;
 background:#ee9b0e;
 width:100%;
 border:none;
 padding:10px 0;
}
.navbar-brand img {
    width: 125px;
    padding: 6px 0;
}
 .main-menu {
 padding: 0px 0;
}
 .navbar .pull-right {
 float: left !important;
}
 .enquery_form_bg .form-control {
 margin-bottom:5px;
}
.modal-header img {
    position: absolute;
    top: 27px;
    left: 12px;
    width: 78px;
}
 .sticky_whatsapp {
 bottom:0;
 left:0px;
 position:fixed;
 width:50%;
 background:#4e3403;
 padding: 7px 0 7px 10px;
 border-right:#fff solid 1px;
}
 .sticky_whatsapp img {
 display:inline-block;
 margin-right:20px;
 width:10%;
}
 .sticky_whatsapp a {
 display: flex;
 align-items: center;
 justify-content: center;
 color:#fff;
 font-family: 'Lato', sans-serif;
 font-size:16px;
}
 .sticky_whatsapp span {
 display:block;
}
 .sticky-contact {
 bottom:0;
 right:0px;
 position:fixed;
 width:50%;
 background:#4e3403;
        padding: 7px 0 7px 10px;
}
 .sticky-contact img {
 display:inline-block;
 margin-right:20px;
 width:10%;
}
 .sticky-contact a {
 display: flex;
 align-items: center;
 justify-content: center;
 color:#fff;
 font-family: 'Lato', sans-serif;
 font-size:16px;
}
 .sticky-contact span {
 display:block;
}
 .sticky_footer {
 background: #ee9b0e;
 padding: 15px 15px 15px 15px;
 position: sticky;
 bottom: 13px;
 z-index: 9;
 border-top: #FFFFFF solid 1px;
}
}
